<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <form [formGroup]="myForm">
      <ion-item>
        <ion-label position="floating">CEP</ion-label>
        <ion-input (ionChange)="updateWithMask($event)" formControlName="cep"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input (ionChange)="updateWithMask($event)" formControlName="cpf"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input (ionChange)="updateWithMask($event)" formControlName="telefone"></ion-input>
      </ion-item>

    </form>
  </div>
</ion-content>
